bgColor = #F9F9F9
hoverColor = #EAEAEA
activeBgColor = hoverColor //#DBDBDB
activeFillColor = #3396FF
boxShadow = 0px 0px 15px 0px rgba(0,0,0,.07)
borderRadius = 10px

headerHeight = 80px
contentTopMargin = 40px
contentSideMargin = 50px

organismEnterAnim = 400ms ease
organismExitAnim = 250ms ease

:export
  boxShadow boxShadow

